<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team28.thehiker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheHiker">
        <activity
            android:name=".features.sosmessage.SosMessageActivity"
            android:label="@string/title_activity_sos_message"
            android:theme="@style/Theme.TheHiker.NoActionBar"></activity>
        <activity android:name=".features.temperature.TemperatureActivity" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".features.humidity.HumidityActivity" />
        <activity android:name=".features.pedometer.PedometerActivity" />
        <activity android:name=".features.altitude.AltitudeActivity" />

        <service
            android:name=".location.HikerLocationService"
            android:enabled="true"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".features.findme.FindMeActivity"
            android:label="@string/title_activity_position_on_map" />
    </application>

</manifest>